@font-face{

    font-family: "yatra one";

    src: url(../outsideFonts/yatra-one-master/Yatra-Regular.ttf)
}
body {

    background: #111 url(../images/paperTexture.jpg);

    font-family: "yatra one",calibri,fantasy;

    font-size: 1em;

}
h1 {

    text-align: center;

    font-size: 2.8125em;

}
p {

    text-indent: 3.25em;

    font-size: 1.5625em;

}
.sign-off{
    text-indent: 4.25em;
}
.grid {

    width: 100%;

}
.grid:after {

    content: "";

    display: table;

    clear: both;

}
[class*='col-']{

    float: left;

    padding-right: 10%;

    display: inline;

}
[class*='col-']:last-of-type {

    padding-right: 0;

}
*, *:after, *:before {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

    box-sizing: border-box;

}
.grid-pad {

    padding: 20px 0 20px 20px;

}
.grid-pad > [class*='col-']:last-of-type {

    padding-right: 20px;

}
.col-1-3 {

    width: 33.3333333333333%;

}
.col-1-2 {

    width: 50%;

}
.col-2-3 {

    width: 66.6666666666667%;
}
.col-1-4{

    width: 25%;

}
.col-3-4{

    width: 45%;

}
[class*='col-block']{
    background-color: #111;
    display: block;
    height: 1px;
    opacity: 0;
}
.col-block-1-4 {
    width: 25%;
}
.col-block-1-3 {
    width: 33.3333333333333%;
}
.col-block-1-6 {
    width: 16.6666666666666667%;
}
